root {
	display: block;
}
body {
	background-color: #ff8500;
	background-repeat: repeat-x;
	background-position: top;
}
*,
*:before,
*:after {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* TEST BELOW add credit */

.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1000;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
}
.wrapper {
    text-align: center;
}
#credits {
    display: inline-block;
	font-family: 'adonaisregular';
	font-size: 3.5vh;
	color: #ffde00;
	text-align: center;
	position: relative;
	top: 1vh;
	left: 63.5vh;
}

#close {
    width: 5vh;
    height: auto;
    position: relative;
	top: 1vh;
	right: -1vh;
}

#credit_title {
    display: block;
    font-family: 'adonaisregular';
	font-size: 5vh;
	color: #ffde00;
}

#credits_to_add {
    font-family: 'adonaisregular';
	font-size: 25vh;
	color: #ffde00;
    
}

.add_cred_but {
    width: 13vw;
    height: auto;
    margin-bottom: 2vh;
}

.add_cred_but:active {
    transform: scale(.9,.9);
}

#steemconnect {
    width: 17vw;
}

#steemconnect:active {
    transform: scale(.9,.9);
}

.direction {
	text-decoration: none;
	font-family: 'adonaisregular';
    font-size: 3vh;
	color: #ffde00;
    margin-bottom: 2vh;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
	font-family: 'adonaisregular';
	color: #ffde00;
}

.holderDiv {
    z-index: 1002;
    display: block;
	width: 83vh;
	/* 900px */
	height: 61vh;
	/* 565px */
    margin: 21vh auto 0;
	background-color: #172c3d;
	border-radius: 5px;
}
input,
input:before,
input:after {
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;
}
::selection {
	background: transparent;
	color: inherit;
}
::-moz-selection {
	background: transparent;
	color: inherit;
}
#canvas {
	position: fixed;
}
canvas {
	image-rendering: optimizeSpeed;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	-ms-touch-action: none;
}
.ani_hack {
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	/* mobile webkit */
}

/***************FONTS*******************/

@font-face {
	font-family: 'walibi0615bold';
	src: url('walibi-holland-webfont.eot');
	src: url('walibi-holland-webfont.eot?#iefix') format('embedded-opentype'), url('walibi-holland-webfont.woff2') format('woff2'), url('walibi-holland-webfont.woff') format('woff'), url('walibi-holland-webfont.ttf') format('truetype'), url('walibi-holland-webfont.svg#walibi0615bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'adonaisregular';
	src: url('adonais-webfont.eot');
	src: url('adonais-webfont.eot?#iefix') format('embedded-opentype'), url('adonais-webfont.woff2') format('woff2'), url('adonais-webfont.woff') format('woff'), url('adonais-webfont.ttf') format('truetype'), url('adonais-webfont.svg#adonaisregular') format('svg');
	font-weight: normal;
	font-style: normal;
}